snippet fh "file comment header" b
/**
 * @Author: `!v g:snips_author`
 * @Date:   `date "+%Y-%m-%d %H:%M:%S"`
 * @Email:  `!v g:snips_email`
 */

$0
endsnippet

snippet block
" ----------------------------------------------------------------------------
" ${0:${VISUAL}}
" ----------------------------------------------------------------------------
endsnippet
