snippet #! "#!/usr/bin/env node"
#!/usr/bin/env node
endsnippet

snippet re "const xyz = require('xyz')"
const ${2} = require('${1}');
endsnippet

snippet me "module.exports"
module.exports = ${1};
endsnippet

