snippet /* "A JSDoc comment" b
/**
 * ${1:${VISUAL}}$0
 */
endsnippet

snippet @p "@param {Type} varname Description"
@param {${1:[TODO:type]}} ${2:[TODO:varname]} - ${3:[TODO:description]}
endsnippet

snippet @r "@return {Type} Description"
@return {${1:[TODO:type]}} ${2:[TODO:description]}
endsnippet
